In [ ]:
## Break down the problem
1. do a random number generator
    maybe you need to import something 
2. do a loop 
    any loop of your choice
3. do a print 
    maybe just printing the products first is easier 
    and adding more components to it slowly would make sense
4. do a pretty print

5. break the rules

In [1]:
# for i in range (1, 11):
#     print (i)
import random
i = 1
mul_table_of = random.randint(1,10)
while (i<=10):
    print("{} * {} = {}".format(mul_table_of , i , i*mul_table_of))
    i += 1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [2]:
import random

mul_table_of = random.randint(1,10)
for  i in range (1,11):
    print("{} * {} = {}".format(mul_table_of , i , i*mul_table_of))

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [3]:
# random coin flip
random.randint(0, 1)

1

In [19]:
iteration = 2
head_count = 0
my_list = []

for i in range(iteration):
    my_list.append(random.randint(0, 1))
print (sum(my_list)/iteration)

0.5

In [29]:
for i in range (1 , 31):
    result = ""
    if (i % 3 == 0):
        result = result + "Fizz"
    if (i % 5 == 0):
        result = result + "Buzz"
    print ("{} --> {} ".format(i, result))

1 -->
2 -->
3 --> Fizz
4 -->
5 --> Buzz
6 --> Fizz
7 -->
8 -->
9 --> Fizz
10 --> Buzz
11 -->
12 --> Fizz
13 -->
14 -->
15 --> FizzBuzz
16 -->
17 -->
18 --> Fizz
19 -->
20 --> Buzz
21 --> Fizz
22 -->
23 -->
24 --> Fizz
25 --> Buzz
26 -->
27 --> Fizz
28 -->
29 -->
30 --> FizzBuzz

## Topics Covered:
1. Introduction to Python Programming
2. Jupyter Notebooks
3. Conditionals, Loops, Function
4. Data Structures (List, Map, Set, Dictionaries) and Abstract Data Types
5. Introduction to Pandas
6. Importing, Viewing, Grouping, Sorting Datasets
7. Data Visualization
8. Exercise on Exploratory Data Analysis

## Introduction to Python Programming

Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace.

- Freedom from ;
- Dynamic type (int, float, double, string etc. are defined in runtime)
- White space/Indentation is important
- Readable (very easy to understand what the code is trying to accomplish)
- Easy (compared to other languages)
- Camelcase vs snakecase (name your variables using underscore. my_list is good, myList is not). This won't cause any problems though. 
- Flask/Django, AI, Pandas etc (Python is for everything, web development, AI, data analysis etc)

#### Math operators

In [63]:
# add two integers
2 + 2

4

In [64]:
# multiply two integers
2 * 2

4

In [65]:
# spaces don't matter here, but keep them consistent (PEP8 good practice)
2*3 + 10

16

In [66]:
# divide two integers
6 / 3

2.0

In [67]:
# raise 2 to the 4th power
2 ** 4

16

In [68]:
# the mod function returns the remainder after division. Useful to check divisibility.
10 % 3

1

In [69]:
# integer division
10 // 3

3

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| *  | multiplication |
| **  | to the power of |
| %  | mod |
| //  | integer division |

#### 1.2 Working with variables

In [70]:
# variables, such as x here, contain values and their values can vary
x = 5

In [71]:
# to inspect a value, just call it
x

5

In [72]:
# you can perform calculations on variables
x + 3

8

In [73]:
# what's the value of x now?
x

5

In [74]:
# to update the value of a variable, you have to do assignment again
x = x + 3

In [75]:
# now what's the value of x?
x

8

In [76]:
# create a new variable y from a calculation involving x
y = x + 2
y

10

In [77]:
# calling two variables only displays the last one
x
y

10

In [78]:
# use the print() function to output value(s) to the console
print(x)
print(y)

8
10

In [79]:
# separate two values by commas to output on the same line
print(x,y)

8 10

In [80]:
# you can also print the output of an expression
print(x * y)

80

NOTE: Use valid variable names!
* Variable names can contain letters, numbers, and the underscore character.
* You can't begin variable names with a digit, or use any of Python's _reserved words_ (eg. False, list, None, zip, else, class, ...).
* Don't use a space in the middle of a variable name.

| result | variable name |
|----|----|
| Valid | my_float, xyz_123, zip_code |
| Error! | my float, 123_xyz, zip |

#### 1.3 Getting help and using tab complete

In [81]:
# get iPython help on an expression by putting ? after it
len?

In [82]:
# use tab complete to fill in the rest of statements, functions, methods
print

In [83]:
# also use it to complete variable or functions that you defined yourself
name_of_course = "Academic Activities British"

In [84]:
name_of_course

'Academic Activities British'

### 2. Basic data types: int, float, string
These object types are the most basic building blocks when handling data in Python. Note that Python is an object-oriented language. Each object has a type, which determines what can be done with it. For instance, an object of type _int_ can be added to another _int_.

In compiled languages like C++, the programmer has to declare the type of any variable before using it. By contrast, Python will **infer the type of variable you want** at run-time. It does this based on what characters you pass, whether they are surrounded by quote marks or brackets. This keeps the syntax much more 'natural' - but take care to learn the rules your Python interpreter applies.

In [85]:
# integers are whole numbers
x = 10
type(x)

int

In [86]:
# floats are floating point (or decimal) numbers
y = 4.25
type(y)

float

In [89]:
# strings are sets of characters in a row, denoted by single or double quotes
name_of_course = "Academic Activities British"
type(name_of_course)

str

In [90]:
# another data type is a Boolean, which has the possible values True or False

my_enrollment_status = True
type(my_enrollment_status)

bool

In [91]:
# use isinstance to check an object's type
isinstance(name_of_course, int)

False

#### 2.1. Manipulating strings

In [92]:
# this is a string. It can be assigned to a variable. 
mystring = 'I am a string. Humans can interpret me easily'

In [93]:
print(mystring)

I am a string. Humans can interpret me easily

In [94]:
# strings can added together (concatenated)
add_chunk = '. I love strings'
mystring + add_chunk

'I am a string. Humans can interpret me easily. I love strings'

In [95]:
# but they can't be subtracted
mystring - add_chunk

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [96]:
# they can be repeated with *
add_chunk * 3

'. I love strings. I love strings. I love strings'

In [97]:
# Each object type has a set of 'methods' (ie. built-in operations) attached to it. 
# Access these with dot notation.
print (mystring)
mystring.split('.')[-1]

I am a string. Humans can interpret me easily

' Humans can interpret me easily'

In [98]:
# the built-in function len() returns the number of characters
new_string = "Data Literacy"
len(new_string)

13

In [99]:
# use .format() to print variables alongside strings
# to keep your outputs neat, you might want to limit the decimal places
value_to_print = 0.9999999999999
print("My output: {}".format(value_to_print))
print("My output: {:.3f}".format(value_to_print))

My output: 0.9999999999999
My output: 1.000

### 3. Data types: lists
Ints, floats and strings are the most basic data structures (think of them as atoms). Next, we'll look at data types that combine those atoms. Lists, tuples and dictionaries are compound data structures that group together other items.

|Data structure | Properties| Syntax|
|----|----|----|
|List | Ordered, mutable sequence | mylist = [1,2,3] |
|Tuple | Ordered, immutable sequence | mytuple = (1,2,3) |
|Set | Unordered set of unique values | myset = set(1,2,3) |
|Dictionary | Mutable set of key, value pairs | mydict = {'first_value':1, 'second_value:2} |

#### 3.1 Manipulating lists
Lists are collections of items. To create one, put a series of items in square brackets, separated by commas. Lists can contain items of different types. They are helpful when your data has an order and may need to be changed in place.

In [100]:
# create a list of strings
weekdays = ['monday','tuesday','wednesday','thursday','friday']
weekdays

['monday', 'tuesday', 'wednesday', 'thursday', 'friday']

In [101]:
# Lists are ordered collections; they are indexed starting at zero.
# To get an individual item, use square brackets and the appropriate index value.
weekdays[0]

'monday'

In [103]:
# select slices (eg. the first to the fourth item) with square bracket notation
weekdays
weekdays[0:3]

['friday', 'thursday', 'wednesday']

In [104]:
# check the type of items in a list
type(weekdays)

list

In [105]:
# a list is a mutable, you can change its contents in-place
weekdays[3] = 'thursday - practice Python!'
weekdays

['friday', 'thursday', 'wednesday', 'thursday - practice Python!', 'monday']

In [106]:
# add an item to a list with append()
weekdays.append('saturday')
weekdays

['friday',
 'thursday',
 'wednesday',
 'thursday - practice Python!',
 'monday',
 'saturday']

In [107]:
# test for a value in your list
'saturday' in weekdays

True

In [ ]:
# use .remove() to clean up the weekdays list
weekdays.remove('saturday')
weekdays

In [ ]:
# concatenate two lists
odds = [1,3,5]
evens = [2,4,6]
all_nums = odds + evens
all_nums

In [ ]:
# the built-in function len() also applies to lists
len(all_nums)

### 4. Logic and control flow - quick intro

Definition of **control flow**:
* In a simple script, program execution starts at the top and executes each instruction in order. 
* **Control flow** statements can cause the execution to loop and skip instructions based on conditions.

#### 4.1 Loops and iterables
Definition: an **iterable** is an object capable of returning its members one at a time. Strings, lists and dictionaries are all iterables.

A **for loop** runs a block of code repeatedly "for" each item in an iterable. End the declaration with : and indent the subsidiary code.

In [108]:
for color in ['red','green','blue']:
    print("I love " + color)

I love red
I love green
I love blue

In [109]:
# or characters in a string
for letter in 'abcd':
    print(letter.upper())

A
B
C
D

In [112]:
# the range() function produces a helpful iterator
for n in range(1, 5, 2):
    print("I ate {} donuts".format(n))

I ate 1 donuts
I ate 3 donuts

In [114]:
# a while loop allows you to move through part of an iterable until a condition is met
result = ""
a = 0
while a < 5:
    result = result + 'I am small {}'.format(a)
    a += 1
print(result)

I am small 0I am small 1I am small 2I am small 3I am small 4

#### 4.2 Logic operators

We test conditions using logic operators.

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| <= | less than or equal to |
| > | greater than |
| >= | greater than or equal to |

In [ ]:
# NOTE: We declare variables using '='
a = 5
b = 7

In [ ]:
# But compare them using '=='
a == b

In [ ]:
# Test whether a does not equal b
a != b

In [ ]:
# Logic expressions evaluate to True or False (datatype: Boolean)

test = b > a

test

In [ ]:
type(test)

#### 4.3 Conditional statements with if

Your friend wants to buy a new phone. She has a budget of Rs 10000. She will purchase it if it is in her budget. 

Do this with 'if', 'elif' (else if), and 'else'.

In [ ]:
price = 5000

In [ ]:
if price < 10000:
    print ('sure')
elif price == 10000:
    print ('hmm maybe')
else:
    print ('no thanks')

NOTE: Here's how the structure works:
* start with an 'if' statement, specifying the logical test to apply
* make sure your 'if' statement ends with :
* **indent the conditional code block.** Whatever code should be executed if the condition is true, indent it with a tab.
* test additional actions using 'elif', and any other actions with 'else'.

#### 4.4 Testing conditions inside a loop
Combining loops with logic allows you to build more sophisticated code structures:

In [117]:
days = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

for day in days:
    if day == 'Sat':
        location = '--> Home!'
    elif day == 'Sun':
        location = '--> Ready for work!'
    else:
        location = '--> Work'
    print(day, location)

Mon --> Work
Tue --> Work
Wed --> Work
Thu --> Work
Fri --> Work
Sat --> Home!
Sun --> Ready for work!

In [118]:
# EXAMPLE 2: is your pet allowed?

authorized_pets = ['dog', 'cat', 'fish']

print("Welcome to Nabin's Apartment Block.")
my_pet = input("Type your pet's breed to see if it's accepted:")

if my_pet in authorized_pets:
    print("Congratulations, your {} is welcome here!".format(my_pet))
else:
    print("Sorry your {} is NOT ACCEPTED".format(my_pet))

Welcome to Nabin's Apartment Block.
Type your pet's breed to see if it's accepted:monkey
Sorry your monkey is NOT ACCEPTED

In [119]:
# Exception Handling
while True:
    try:
        a = int(input('Enter a number : '))
    except ValueError:
        print ('invalid input')
    else:
        break

Enter a number : monkey
invalid input
Enter a number : mon
invalid input
Enter a number : moe
invalid input
Enter a number : sdl
invalid input
Enter a number : 10

## Problem 1 Exercise on conditions:

1. Break down the problem
2. How do you know if a number is even or odd? Can you use the modulo operation?
3. Use if-else based on modulo operation result.
4. Complete the problem 

## Problem 2 Exercise on loop:

1. Break down the problem
2.Choose the loop you prefer (for/while)
3. First of all, print the first 100 numbers
4. Complete the problem

## Jupyter Notebooks

### Why?
> 1. Literate Programming
> 2. Reproducible Results
> 3. Teaching and Learning
> 4. Prototyping

## Hotkeys
1. Press Esc+B to insert cell below.
2. Press Esc+A to insert cell above.
3. Press Esc+D to delete a cell.
4. Press Shift+Enter to run a cell.

### Data Structures

#### List

In computer science, an array data structure, or simply an array, is a data structure consisting of a collection of elements (values or variables), each identified by at least one array index or key. An array is stored such that the position of each element can be computed from its index tuple by a mathematical formula. The simplest type of data structure is a linear array, also called one-dimensional array.

In python, arrays are list.

In [ ]:
my_list = [1, 2, 3]

In [ ]:
my_list.append(4)

In [ ]:
# List can be empty
empty_list = []

In [ ]:
# an example of list
prime_list = [2, 3, 5, 7, 11, 13]

In [ ]:
# an example of mixed list
mixed_list = [1, True, 'apple', 4.6, [1, 2, 3, 5, 7, 11, 13]]

In [ ]:
# Looping through the list
for item in prime_list:
    print (item)

In [ ]:
# Adding an item to list
prime_list.append(17)

In [ ]:
prime_list = prime_list + [19, 23, 31]

In [ ]:
prime_list

In [ ]:
prime_list.extend([37, 39, 41])

In [ ]:
prime_list

#### The list data type has some more methods. Here are all of the methods of list objects:

1. list.append(x)
> Add an item to the end of the list; equivalent to a[len(a):] = [x].

2. list.extend(L)
> Extend the list by appending all the items in the given list; equivalent to a[len(a):] = L.

3. list.insert(i, x)
> Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

4. list.remove(x)
> Remove the first item from the list whose value is x. It is an error if there is no such item.

5. list.pop([i])
> Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

6. list.index(x)
> Return the index in the list of the first item whose value is x. It is an error if there is no such item.

7. list.count(x)
> Return the number of times x appears in the list.

8. list.sort(cmp=None, key=None, reverse=False)
> Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

9. list.reverse()
> Reverse the elements of the list, in place.

##### Random

In [120]:
import random

In [121]:
# random drawing of a card from a deck of card
random.randint(1,52)

14

In [122]:
# size is taas kati katne
def random_list(size):
    my_list = []
    for i in range(size):
        random_card = random.randint(1,52)
        
        my_list.append(random_card)
    return my_list

In [124]:
my_card_deck = random_list(3)
print (my_card_deck)

[50, 16, 11]

#### Set

In computer science, a set is an abstract data type that can store unique values, without any particular order. It is a computer implementation of the mathematical concept of a finite set. Unlike most other collection types, rather than retrieving a specific element from a set, one typically tests a value for membership in a set.

In [125]:
a = {1, 2, 3, 4, 5}

In [126]:
type(a)

set

In [127]:
b = {1, 1, 2, 3}

In [128]:
b

{1, 2, 3}

In [129]:
# add to set
b.add(5)

In [130]:
# remove from set
b.discard(5)

#### Intersection, Union and Difference

In [131]:
a = {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
b = {3, 6, 9, 12, 15, 18, 21}

In [132]:
a | b

{2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21}

In [133]:
a & b

{6, 12, 18}

In [134]:
a - b

{2, 4, 8, 10, 14, 16, 20}

In [135]:
b - a

{3, 9, 15, 21}

In [136]:
#### Converting list to set and vice versa

In [137]:
list_a = [1, 2, 3, 4, 5]

In [138]:
set_a = set(list_a)

In [139]:
set_a

{1, 2, 3, 4, 5}

In [ ]:
x = [1, 2, 3, 4, 5]
len(x)==len(set(x))

### Monte Carlo Simulation

Monte Carlo methods (or Monte Carlo experiments) are a broad class of computational algorithms that rely on repeated random sampling to obtain numerical results. Their essential idea is using randomness to solve problems that might be deterministic in principle. They are often used in physical and mathematical problems and are most useful when it is difficult or impossible to use other approaches. Monte Carlo methods are mainly used in three problem classes:optimization, numerical integration, and generating draws from a probability distribution.

In [142]:
iterations = 1
count = 0
number_of_people = 23
for i in range(iterations):
    birthday_list = []
    for i in range(number_of_people):
        birthday_list.append(random.randint(1, 365))
    if (len(birthday_list)) != len(set(birthday_list)):
        count = count + 1
print (count/iterations)

1.0

### Abstract Data Types and Classes



#### Think about storing a point (the kind that you learnt in coordinate geometry).
1. What are the values that you need to store?
    What are the data types of the values?
    What can and cannot you store? Give Examples
2. What are the operations that you can perform?
    What inputs and outputs do you expect in each operation?
    What might cause an error?
3. Document on a piece of paper.
4. Write the class in python


### Abstract Data Type: Point
The coordinates of a point are a pair of numbers that define its exact location on a two-dimensional plane. Point is a data type to store a point in two-dimensional plane.


| Attributes   	| Type  	| Definition                       	|
|--------------	|-------	|----------------------------------	|
| x coordinate 	| float 	| value of x coordinate in a point 	|
| y coordinate 	| float 	| value of y coordinate in a point 	|

Supported types examples: float, int
Unsupported types examples: String, List etc. 

### Operations:
| Operation          	| Input           	| Input Type 	| Output         	| Output Type 	| Description                                                                 	|
|--------------------	|-----------------	|------------	|----------------	|-------------	|-----------------------------------------------------------------------------	|
| get y              	| None            	| -          	| y coordinate   	| float       	| return value of y coordinate                                                	|
| set x              	| new value for x 	| float      	| None           	| -           	| set new value of x coordinate                                               	|
| set y              	| new value for y 	| float      	| None           	| -           	| set new value of y coordinate                                               	|
| calculate distance 	| another Point   	| Point      	| distance       	| float       	| calculate the abs distance between two points                               	|
| which quadrant     	| None            	| -          	| which quadrant 	| int         	| return 1, 2, 3, 4 for first, second, third and fourth quadrant respectively 	|

In [143]:
class Point:
    def __init__(self, x, y):
        self.x=x
        self.y=y
    
    def get_x(self):
        return self.x
    
    def get_y(self):
        return self.y
    
    def set_x(self, new_x):
        self.x = new_x
        
    def set_y(self, new_y):
        self.y = new_y
    
    def calculate_distance(self, new_point):
        diff_x = self.x - new_point.get_x()
        diff_y = self.y - new_point.get_y()
        return (diff_x**2 + diff_y**2) ** (1/2)
    
    # Todo (incomplete)
    def which_quadrant(self):
        if (self.x>=0 and self.y>=0): return 1
        if (self.x>=0 and self.y<0): return 4
        if (self.x<0 and self.y>=0): return 2
        if (self.x<0 and self.y<0): return 3

In [144]:
a = Point(0, 1)
b = Point(1, 0)

In [145]:
a.calculate_distance(b)

1.4142135623730951

# Pandas
Pandas, a library written by Wes McKinney, is a great tool for data manipulation and analysis. Pandas provides two classes:

- a Series object, which handles a single column of data;
- a DataFrame object, which handles multiple columns (like an Excel spreadsheet).

You can build your own DataFrames or read in from other sources like CSVs or JSON. Pandas handles missing data beautifully; lets you sort, operate on and merge datasets; provides plotting capabilities; and handles time series data (among other advantages).

In [ ]:
import pandas as pd

In [ ]:
# Create a series by passing a list

cities = pd.Series(['Kathmandu', 'Pokhara', 'Chitwan','Biratnagar'])

In [ ]:
# Let us create three lists for cities, population and area
# The data is from Census 2011
cities = ['Kathmandu', 'Pokhara', 'Birganj', 'Biratnagar']
population = [975453, 426759, 240922, 242548]
area = [49.45, 464.28, 132.07, 77.0]

In [ ]:
# Create an empty DataFrame, and add new columns to it
cities_df = pd.DataFrame()
cities_df['name'] = cities
cities_df['population'] = population
cities_df['area'] = area

In [ ]:
cities_df

In [ ]:
# The columns have different dtypes
cities_df.dtypes

In [ ]:
# the .head() method shows the top rows
cities_df.head(2)

In [ ]:
# the .tail() method shows the bottom rows
cities_df.tail(2)

In [ ]:
# the .sample() method randomly shows one of the rows
cities_df.sample()

In [ ]:
# check how many rows and columns
cities_df.shape

In [ ]:
# Inspect only one series using square bracket notation

cities_df['population']

In [ ]:
# Or dot notation
cities_df.population

In [ ]:
cities_df.population.max()

In [ ]:
cities_df.population.min()

In [ ]:
# Standard Python indexing works
cities_df.population[1:]

In [ ]:
# Use Boolean indexing to inspect values based on a condition
cities_df[cities_df.name == 'Kathmandu']

In [ ]:
# Create a new column with math outputs
cities_df['population_density'] = cities_df.population/cities_df.area
cities_df

In [ ]:
# Use a single column's value to select data

cities_df.loc[cities_df.population_density < 1000]

In [ ]:
# Use the .sort_values() method
# Helpful parameter: set inplace = True if you want to modify your df

cities_df.sort_values(by = 'population_density')

In [ ]:
cities_df.sort_values(by = 'population_density', ascending=False)

In [ ]:
cities_df.sort_values(by = 'population_density', inplace=True)

### Plotting

In [ ]:
import seaborn as sns

In [ ]:
# Plot charts using the .plot() method 
sns.barplot(x = 'name', y = 'population_density', data=cities_df)